body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #074494;
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.navbar a:hover {
    font-weight: bolder;
    color: rgb(3, 52, 80);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.registration-form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 18px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    color: #012150;
}

.form-group {
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:hover{
    border: 2px solid rgb(25, 139, 246);
    transition: 0.1s ease-in-out;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #012150;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background: #034896;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .registration-form {
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .container {
        padding: 10px;
        margin: 0;
    }
    .registration-form {
        width: 95%;
        max-width: none;
    }
    .form-group input,
    .form-group select {
        width: 100%;
    }
    .submit-btn {
        width: 100%;
    }
}

footer {
    background-color: rgb(1, 35, 66);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
    }
}
@media (max-width: 768px) {
    .logo {
        max-width: 50%;
        margin: 10px auto;
        display: block;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 70%;
    }
}
.logo {
    max-width: 15%;
    max-height: 100%;
    color:rgb(2, 45, 100) ;
  }